<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta characterset="UTF-8">
<meta name="viewport" value="width=device-width,initial-scale=1">
<style>
body {font-family:"Lato",sans-serif}
.banner {width:100%;height=400px;background:grey;padding:10px;}

</style>
</head>

<body>

<div class="banner">
    <h2>Check whether the word is pyramid word or not</h2>
    <p>Enter the string</p>
        <input type="text" id="input" placeholder="Enter the string" onkeyup="lettersOnly()" />
        <input type="button" value="submit" onclick="check()">
        <input type="reset">
</div>


<script>
function lettersOnly(){
var regex=/[^a-z]/gi;
input.value=input.value.replace(regex,"");
}

function check(){
var inp=document.getElementById("input").value;
var xhttp = new XMLHttpRequest();
xhttp.open("GET", "checkpyramid/"+inp, true);
xhttp.send();
var result1;

xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
      result1=xhttp.responseText.toString();
      alert("Pyramid word:"+result1);
    }
  };



}
</script>

</body>
</html>